form(id="filter-dialogue", action="/", class='full-form', method="get")
  label(for="flat-name") Flat Name:
  input(type="text", id="flat-name", name="flat-name", placeholder="Enter flat name")

  button(type="button", id="close-filter") Close
  button(type="submit", id="search-filter") Search