//- index.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Home Page
    link(rel="stylesheet", href="/stylesheets/Indexstyle.css")
  body
    include header.pug

    h1 Welcome to the Home Page

    form#logout-form(action="/upload-flat", method="get")
        button(type="submit") Upload Review

    // Display flats
    //- Add the flat-holder div with id
    #flat-holder
      include flat-container.pug