//- index.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Home Page
    link(rel="stylesheet", href="/stylesheets/Indexstyle.css")
    link(rel="stylesheet", href="/stylesheets/leaflet.css")
    //- Make sure you put this AFTER Leaflet's CSS
    script(src="/js/leaflet.js")
   


  body
    include header.pug


    form#upload-flat(action="/upload-flat", method="get")
        button(type="submit") Upload Review

   
    main
      #flat-holder
        include flat-container.pug
      #map-container
        div#map
    script(src="/js/map.js" defer) 
    include footer.pug