//- index.pug
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title View Records
    link(rel="stylesheet", href="/stylesheets/Indexstyle.css")
  body
    include header.pug
    // Display flats
    //- Add the flat-holder div with id
    #review-holder
      include review-container.pug
    include footer.pug