body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff;
    padding: 40px; /* Increase padding for larger box */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 400px; /* Set width for larger box */
}

.login-container h2 {
    text-align: center;
}

.login-container input[type="email"],
.login-container input[type="password"],
.login-container input[type="submit"],
.login-container a.button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    display: block;
}

.login-container form button[type="submit"].login-button {
    background-color: green;
    color: #fff;
    cursor: pointer;
    background-color: green;
    color: #fff;
    cursor: pointer;
      width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    display: block;
}

.login-container form button[type="submit"].login-button:hover {
    background-color: darkgreen; 
}

.login-container form button[type="submit"].register-button {
    background-color: green;
    color: #fff;
    cursor: pointer;
      width: 100%;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    text-align: center;
    display: block;
}

.login-container form button[type="submit"].register-button:hover {
    background-color: darkgreen; 
}


.login-container a {
    text-decoration: none;
    color: green;
}

.login-container a:hover {
    text-decoration: underline;
}

.create-account-form {
    display: none;
}

